*{
    padding: 0;
    margin: 0;
    -webkit-scrollbar:none;
}  
.header{
    width: 100%;
    height: 11pv;
    display: flex;
    flex-direction: row;

}
.logo{
    width: 20%;
    display: grid;
    grid-template-rows:80% 20% ;
    text-align: center;
    font-family: Snell;
}
.logo img{
    width: 80%;
    height: 100%;
}
@font-face {
 font-family: Snell;
 src: url("ofont.ru_Hlobus\ \(1\).ttf");
}
a{
    text-decoration: none;
    color: darkgreen;
}
.menu{
     width: 60%;
     display: flex;
     flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16pt;
} 
.banner{
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
    
}
.banner img{
    width: 100%;
}
.info{
    width: 94%;
    margin-left: 3%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 70% 30%;
}
.infoTesting{
    width: 95%;
}
.infoTesting p{
    font-size: 15pt;
    margin-top: 35px;
    text-align: justify;
}
.moreInfo p{
    font-size: 15pt;
    margin-top: 35px;
}
.moreInfo{
    width: 80%;
    background-color: rgba(91, 155, 219, 0.377);
    border-radius: 20px;
    padding: 5%;
}
.footer{
    width: 100%;
    border-top: 2px solid rgb(80, 219, 115);
    margin-top: 40px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.review{
    display: 80%;
    grid-template-columns: 15% 60% 10%;
}
.picturesReview{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}
.picturesReview img{
    width: 80px;
    height: 80%;
}
.review p{
    color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.textReview {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}
.picturesReview img:hover{
    cursor: pointer;
    background-color: rgba(97, 168, 101, 0.699);
    border-radius: 50px;
    transition: 1s;
}
.menu a p{
    border-radius: 20px;
    padding: 10px;

}
.menu a p:hover {
    background-color: rgba(118, 148, 136, 0.815);
    box-shadow: 2px 2px 2px 2px 2px rgba(47, 156, 83, 0.651);
}
.devloper{
    width: 50%;
    margin-left: 25%;
    line-height: 170%;
    font-size: 10px;
}
.social{
    display: flex;
    justify-self: flex-end;
    align-items: center;
    padding: 10%;
}
.social img{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
.social img:hover{
    filter: contrast(170%);
}
@keyframes animationText{
    0%{
        font-weight: 100;
        color: black;
    }
    50%{
        font-weight: 800;
        color: rgb(34, 122, 223);
    }
    100%{
        font-weight: 100;
        color: black;
    }
}
#textLogo{
    animation: animationText 4s infinite;
}
.current{
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.currentContainer{
    width: 80%;
    margin-left: 10%;
    height: 50vh;
    background-image: url(lkj/ifufk.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  font-size: 40px;
  color: aliceblue;
}
.grid{
    height: 500vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
}
.newCard{
    width: 90%;
    margin-left: 5% 5%;
    display: flex;
    justify-content: space-between;
}
.textCard{
    width: 50%;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textCard p{
    margin-top: 10px;
}
.imgCard{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCard img{
    width: 100%;
}
.main_game{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.fieldGame{
    width: 60%;
    height: 70VH;
    background-image: url(lkj/poi.jfif);
    background-size: 100% 100%;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 30% 50% 20%;
}
.textGame{
    width: 50%;
    margin-left: 25%;
    background-color: rgba(0, 100, 0, 0.473);
    font-size: 16px;
    border-radius: 20px;
    line-height: 150%;
    text-align: center;
    margin-top: 2%;
    padding-top: 2%;
}
.fielBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fielBox img{
    width: 16%;
}
.fielBox img:hover{
    cursor:cell ;
    filter: contrast(150%);
}
.restartButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.restartButton button{
    width: 20%;
    padding: 1%;
    font-size: 16pt;
    background-color: rgb(31, 31, 100);
    border-radius: 20px;
}
.restartButton{
    display: none;
}
#textWinner{
    display: none;
}
#textLooser{
    display: none;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .markCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .markBoxes{
    width: 50%;
    border: 1px solid rgb(1, 61, 11);
    border-radius: 20PX;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    padding: 2%;
  }
  .markBox button{
    padding: 10%;
    font-size: 14px;
    background-color: rgba(3, 121, 3, 0.61);
    border-radius: 20px;
    border: 1px solid rgba(0, 128, 0, 0.199);
  }
  .fieldGame button:hover{
    cursor: url("lkj/aa.png");
  }
  .markField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .markField button{
    width: 40%;
    border-radius: 120px;

  }
  #mark{
    width: 100%;
    border-radius: 120px;
  }
  @font-face{
    font-family: "Number";
    src: url("EsquivelTrial.ttf");
  }
  #count{
    font-family: "Number";
    font-size:22pt ;
  }
  .markBuster{
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
  .markBuster div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 5px solid rgb(0, 117, 39);
    border-radius: 20px;
    width: 16%;
    height: 50%;
    padding-right: 2%;
    font-family: "Number";
  }
  .markBuster div img {
    width: 50px;
    height: 50px;
  }
#buyPower:hover{
    cursor: url("lkj/aa.png");
}

#SetWindow{
    width: 50%;
    height: 80%;
    margin-left: 25%;
    margin-top: 2%;
    padding: 2%;
    border-radius: 20px;
    border: 1px solid rgb(30, 143, 158);
    box-shadow: 0px 0px 5px 5px rgb(30, 143, 158);

}
#SetWindow::backdrop {
    background-color:rgba(30, 143, 158, 0.438) ;
}
#SetWindow::-webkit-scrollbar{
    display: none;
}

.conteinerWindow{
    display: grid;
    grid-template-rows: 10% 10% 80% ;
    text-align: center;
}
.conteineCloseButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.conteineCloseButton div{
    padding: 5px;
    border: 1px solid white;
    font-size: 16px;
}
.conteineCloseButton div:hover{
    border: 1px solid rgb(131, 118, 163);
    border-radius: 6px;
    cursor: pointer;
}
.gridCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.oneCard{
    width: 40%;
    display: grid;
    grid-template-rows: 80% 20%; 
    margin-top: 40px;
    border: 1px solid rgb(192, 163, 221);
    border-radius: 20px;
    background-color: aqua;
}
.topPath{
    display: grid;
    grid-template-columns: 50% 50%;
}
.topPath div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}


.topPath div img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
}
.bottomPath{
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 20%;
    border-top: 1px solid rebeccapurple;
}
.bottomPath div {
    display: flex;
    align-items:center ;
    justify-content: center;
}
.bottomPath div :first-child{
    border-right:1px solid rebeccapurple ;
}
.bottomPath div:hover{
    cursor: url(lkj/),auto;
}
#VDWindow{
    width: 50%;
    height: 80%;
    margin-left: 25%;
    margin-top: 2%;
    padding: 2%;
    border-radius: 20px;
    border: 1px solid rgb(30, 143, 158);
    box-shadow: 0px 0px 5px 5px rgb(30, 143, 158);

}
#VDWindow::backdrop {
    background-color:rgba(30, 143, 158, 0.438) ;
}
#VDWindow::-webkit-scrollbar{
    display: none;
}













.zaglushka{
    display: none;
}


@media(max-width: 999px) {
    .zaglushka{
        display: flex;
        text-align: center;
        margin-left: 200px;
    }
    .header{
        display: none;
    }
    .footer{
        display: none;
    }
    .main_game{
        display: none;
    }.main_home{
        display: none;
    }
    .main_news{
        display: none;
    }
    
}